<!-- Add this in the <head> section of your HTML file -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" />
  <link href="https://fonts.googleapis.com/css2?family=Charm:wght@700&display=swap" rel="stylesheet">

  <nav class="navbar">
    <div class="navbar__menu">
      <div (click)="sidebar.toggleSidebar()">
      <span class="navbar__icon">☰</span></div>
      <span class="navbar__logo">EVENTURE</span>
    </div>
    <div class="navbar__links">
      <a href="#">Events</a>
      <a href="#">Products and services</a>
    </div>
    <div class="navbar__search">
      <input type="text" placeholder="Search">
      <button><i class="fa fa-search"></i></button>
    </div>
    <div class="navbar__profile" routerLink="/login">
      <i class="fa fa-user-circle"></i>
    </div>
    <app-sidebar #sidebar></app-sidebar>
  </nav>
  