mat-card {
  padding: 1rem;
}

mat-header-cell, mat-cell {
  padding: 12px;
  font-size: 15px;
}

mat-header-cell {
  font-weight: 600;
}

mat-table {
  width: 100%;
}
.edit-button {
  color: #FFFF;
  background-color: #8b6a9d;
  border-radius: 20%;
  transition: background-color 0.3s;

  &:hover {
    background-color: #2e2f49;
  }
}
