.event-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 cards per row */
    gap: 20px; /* Space between cards */
    max-width: 1200px; /* Restrict the total width */
    margin: 0 auto; /* Center the grid horizontally */
    padding: 20px; /* Add padding around the grid */
  }

  .event-section {
    margin: 40px 0px;
  }
  
  .event-section-title {
    padding: 20px;
    margin: 0 auto;
    max-width: 1200px;
    font-size: 32px;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
    font-family: 'Arial';
    text-align: left;
  }
  
  @media (max-width: 1024px) {
    .event-list {
      grid-template-columns: repeat(3, 1fr); /* 3 cards per row on smaller screens */
    }
  }
  
  @media (max-width: 768px) {
    .event-list {
      grid-template-columns: repeat(2, 1fr); /* 2 cards per row on tablets */
    }
  }
  
  @media (max-width: 480px) {
    .event-list {
      grid-template-columns: 1fr; /* 1 card per row on small devices */
    }
  }
    