.top-offer-card {
    position: relative;
    width: 100%;
    height: 600px;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .top-offer-card-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 65%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .top-offer-card-content {
    color: #fff;
    text-align: center;
    max-width: 600px;
    padding: 20px;
  }
  
  .top-offer-card-content h2 {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .top-offer-card-content p {
    font-size: 18px;
    margin-bottom: 20px;
  }
  
  .top-offer-card-button {
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: var(--pink);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .top-offer-card-button:hover {
    background-color: var(--blue);
  }
  