<div class="profile">
  <div class="profile__card">

    <form class="profile__form">
      <div class="profile__content">
        
        <div class="profile__form-section pink-bg">
          <h2 class="profile-title">{{ user?.name }} {{ user?.lastname }}</h2>

          <div class="profile__section">
            <label><i class="fa fa-envelope"></i> Email:</label>
            <span>{{ user?.email }}</span>
          </div>

          <div class="profile__section">
            <label><i class="fa fa-user-cog"></i> Role:</label>
            <span>{{ user?.userType }}</span>
          </div>

          <div class="profile__section">
            <label><i class="fa fa-user"></i> Name:</label>
            <input [(ngModel)]="updatedUser.name" name="name" />
          </div>

          <div class="profile__section">
            <label><i class="fa fa-user-tag"></i> Last Name:</label>
            <input [(ngModel)]="updatedUser.lastname" name="lastname" />
          </div>

          <div class="profile__section">
            <label><i class="fa fa-home"></i> Address:</label>
            <input [(ngModel)]="updatedUser.address" name="address" />
          </div>

          <div class="profile__section">
            <label><i class="fa fa-phone"></i> Phone Number:</label>
            <input [(ngModel)]="updatedUser.phoneNumber" name="phoneNumber" />
          </div>
          <br>
          <div class="profile__photo-container">
            <div class="profile__photo-container">
              <div class="profile__photo-wrapper" *ngIf="updatedUser.photoUrl; else placeholder">
                <img 
                  [src]="updatedUser.photoUrl" 
                  alt="User Photo" 
                  class="profile__photo"
                />
                <button (click)="removePhotoSmall()" class="delete-button">&times;</button>
              </div>
              <ng-template #placeholder>
                <div class="profile__photo-placeholder">
                  <i class="fa fa-user-circle"></i>
                  <span>No Photo Available</span>
                </div>
              </ng-template>
            </div>
            
            <div class="photo-actions">
              <input [(ngModel)]="newPhotoUrl" name="photoUrl" type="text" placeholder="Enter photo URL" class="photo-url-input" />
              <div class="profile__buttons">
                <button (click)="updatePhotoSmall()" class="submit-button">Save Photo</button>
              </div>
            </div>
          </div>

          <div *ngIf="user?.userType === 'Provider'">
            <h2 class="profile-title">{{ user?.companyName }}</h2>

            <div class="profile__section">
              <label><i class="fa fa-envelope"></i> Company Email:</label>
              <span>{{ user?.companyEmail }}</span>
            </div>

            <div class="profile__section">
              <label><i class="fa fa-location-dot"></i> Company Address:</label>
              <input [(ngModel)]="updatedUser.companyAddress" name="companyAddress" />
            </div>

            <div class="profile__section">
              <label><i class="fa-solid fa-align-justify"></i> Description:</label>
              <textarea [(ngModel)]="updatedUser.description" name="description"></textarea>
            </div>

            <div class="profile__section">
              <label><i class="fa-regular fa-clock"></i> Opening Time:</label>
              <input [(ngModel)]="updatedUser.openingTime" name="openingTime" />
            </div>

            <div class="profile__section">
              <label><i class="fa-regular fa-clock"></i> Closing Time:</label>
              <input [(ngModel)]="updatedUser.closingTime" name="closingTime" />
            </div>
          </div>

          <div *ngIf="user?.userType === 'Provider'" class="company-photo-gallery">
            <h3 class="gallery-title">Company Photos</h3>
            <div class="photo-gallery">
              <div *ngFor="let photoUrl of updatedUser.companyPhotos; let i = index" class="photo-item">
                <img [src]="photoUrl" alt="Company Photo" class="company-photo" />
                <button (click)="removePhoto(i)" class="delete-button">&times;</button>
              </div>
            </div>
            <div class="photo-input">
              <input [(ngModel)]="newCompanyPhotoUrl" name="newCompanyPhotoUrl" type="text" placeholder="Enter photo URL" class="photo-url-input" />
              <button (click)="addPhoto()" class="submit-button">Add Photo</button>
            </div>
          </div>
        </div>
      </div>


      <div class="profile__buttons">
        <button type="button" class="submit-button" style="background-color: #4CAF50;" (click)="submitChanges()">Submit Changes</button>
        <button type="button" class="submit-button" (click)="changePassword()">Change Password</button>
        <button type="button" class="submit-button" (click)="logout()">Logout</button>
        <button type="button" class="submit-button" style="background-color: #E53935;"  (click)="deactivate()">Deactivate</button>
      </div>
    </form>

  </div>
</div>
