<div class="offer-section" *ngIf="offer">
  <button class="floating-back-btn" (click)="goBack()">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="back-icon">
      <path d="M15.5 19.5 6 12l9.5-7.5v15Z" fill="white" />
    </svg>
  </button>
  <div class="carousel-container">
    <div class="carousel">
      <button class="nav prev" *ngIf="offer.photos?.length > 1" (click)="prevSlide()">❮</button>

      <div class="carousel-slide">
        <img [src]="offer.photos?.[currentSlide] || ''" alt="Offer image" (error)="onImageError($event)" />

      </div>

      <button class="nav next" *ngIf="offer.photos?.length > 1" (click)="nextSlide()">❯</button>
    </div>

    <div class="carousel-indicators" *ngIf="offer.photos?.length > 1">
      <span *ngFor="let photo of offer.photos; let i = index" [class.active]="i === currentSlide"
        (click)="goToSlide(i)"></span>
    </div>
    <div class="provider-info">
      <div class="provider-header">
        <p class="provider-name" (click)="openCompanyDialog()">
          <strong>
            <i class="fa fa-user" style="color: #8B6A9D;" aria-hidden="true"></i>
            {{ ' ' + company?.companyName }}
          </strong>
        </p>
      </div>

      <button style="background-color: #3F4C6D;" class="btn btn-secondary" (click)="contactProvider()">Contact
        Us</button>
    </div>

  </div>

  <div>
    <div class="offer-header">
      <h1 class="offer-title">{{ offer.name }}</h1>
      <div class="add-fav" (click)="toggleFavorite()">

        <!-- Outlined heart SVG -->
        <svg *ngIf="!isFavorite" class="heart-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none"
          stroke="#8B6A9D" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
          <path
            d="M20.8 4.6a5.5 5.5 0 0 0-7.8 0L12 5.6l-1-1a5.5 5.5 0 0 0-7.8 7.8l1 1L12 21l7.8-7.8 1-1a5.5 5.5 0 0 0 0-7.8z" />
        </svg>

        <!-- Filled heart SVG -->
        <svg *ngIf="isFavorite === true" class="heart-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
          fill="#8B6A9D">
          <path
            d="M19.3,5.71C18.841,5.246 18.294,4.878 17.692,4.627C17.089,4.377 16.443,4.248 15.79,4.25C15.137,4.248 14.491,4.377 13.888,4.627C13.286,4.878 12.739,5.246 12.28,5.71L12,6L11.72,5.72C10.792,4.792 9.533,4.27 8.22,4.27C6.907,4.27 5.648,4.792 4.72,5.72C3.804,6.655 3.291,7.911 3.291,9.22C3.291,10.529 3.804,11.785 4.72,12.72L11.49,19.51C11.631,19.65 11.821,19.729 12.02,19.729C12.219,19.729 12.409,19.65 12.55,19.51L19.32,12.72C20.236,11.782 20.748,10.522 20.744,9.211C20.74,7.9 20.222,6.642 19.3,5.71Z" />
        </svg>
      </div>
    </div>
    <strong>Details and Specifics</strong>
    <p>{{ offer.description }}</p>
    <p *ngIf="isService(offer)">{{offer.specifics}}</p>

    <strong>Event types</strong>
    <p *ngFor="let type of offer.eventTypes">{{ type.name || type }}</p>

    <strong>Category</strong>
    <p>{{ offer.category }}</p>

    <strong>Price</strong>
    <p>
      <span *ngIf="offer.sale; else noSale">
        <del>{{ offer.price }} $</del>
        <span class="discount-price">{{ offer.sale }} $</span>
      </span>
      <ng-template #noSale>
        {{ offer.price }} $
      </ng-template>
    </p>

    <strong *ngIf="isService(offer)">Duration</strong>
    <p *ngIf="isService(offer)">{{offer.preciseDuration ? offer.preciseDuration + ' minutes': offer.minDuration+' - '+offer.maxDuration+' minutes'}}</p>

    <strong *ngIf="isService(offer)">{{'Cancelation available until '+offer.latestCancelation + 'h before the booking.'}}</strong>
    <pre></pre>
    <p *ngIf="offer.isAvailable === true" class="text-available">Available.</p>
    <p *ngIf="offer.isAvailable === false" class="text-available">Currently unavailable</p>
    <button class="btn-buy" *ngIf="isProduct(offer) && userRole === 'ROLE_ORGANIZER'" (click)="buyProduct(offer)">
      BUY NOW
    </button>
    <button class="btn-buy" *ngIf="isService(offer) && offer.isAvailable === true" (click)="openReservationDialog()">
      BOOK IT
    </button>
  </div>

</div>