<div class="cpassword-container">
    <div class="cpassword-card">
      <h2 class="cpassword-title">Change password</h2>
      <form [formGroup]="changePasswordForm" (ngSubmit)="onChangePassword()">
        <div class="input-group">
          <label>
            <i class="material-icons">lock</i>
            <input type="password" placeholder="Old password" formControlName="oldPassword" required />
          </label>
        </div>
        <div class="input-group">
          <label>
            <i class="material-icons">lock</i>
            <input type="password" placeholder="New password" formControlName="newPasswordFirst" required/>
          </label>
        </div>
        <div class="input-group">
            <label>
              <i class="material-icons">lock</i>
              <input type="password" placeholder="New password conf-on" formControlName="newPasswordSecond" required/>
            </label>
          </div>
        <button type="submit" class="confirm-button">Confirm changes</button>
        <a routerLink="/profile" class="profile">Back to profile</a>
      </form>
    </div>
  </div>
  
  