<h2 mat-dialog-title>{{ data.company.companyName }}</h2>

<mat-dialog-content>

  <div class="carousel" *ngIf="data.company.companyPhotos?.length > 0">
    <button class="nav prev" (click)="prevPhoto()">❮</button>

    <img
      [src]="data.company.companyPhotos[currentPhotoIndex]"
      alt="Company photo"
      class="carousel-image"
      (error)="onImageError($event)"
    />

    <button class="nav next" (click)="nextPhoto()">❯</button>
  </div>

  <p><strong>Description:</strong></p>
  <p style="font-style: italic;">{{ data.company.description }}</p>
  <p><strong>Email:</strong> {{ data.company.companyEmail }}</p>
  <p><strong>Address:</strong> {{ data.company.companyAddress }}</p>

  <p><strong>Working Hours:</strong> {{ data.company.openingTime }} - {{ data.company.closingTime }}</p>

</mat-dialog-content>

<mat-dialog-actions>
  <div class="dialog-actions-container">
    <button mat-button style="color: #8B6A9D;" (click)="report()">Report User</button>
    <button mat-button (click)="close()">Close</button>
  </div>
</mat-dialog-actions>

