.price-list-container {
    max-width: 1000px;
    margin: 2rem auto;
    padding: 2rem;
    background: #fafafa;
    border-radius: 12px;
    min-height: 500px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);

    h2 {
        text-align: center;
        margin-bottom: 1.5rem;
        color: #2e2f49;
        font-style: italic;
    }

    .price-list-actions {
        display: flex;
        justify-content: flex-end;
        margin-bottom: 1rem;
    }

    .export-btn {
        display: inline-flex;
        align-items: center;
        gap: 8px;
        font-weight: bold;
        padding: 10px;
        background-color: #8b6a9d;
        color: white;
        transition: background-color 0.3s ease;
    }

    .export-btn:hover {
        background-color:#724c81;
    }

    ::ng-deep .mat-tab-group {
        background-color: white;
        border-radius: 8px;
        overflow: hidden;
    }

    ::ng-deep .mat-tab-label {
        font-weight: 600;
        font-size: 16px;
    }

    ::ng-deep .mat-tab-body {
        padding: 1rem;
    }
}