<div class="sidebar-backdrop" *ngIf="isOpen" (click)="closeSidebar()"></div>
<div class="sidebar" [class.active]="isOpen">

        <div class="sidebar__close" (click)="closeSidebar()">
          <i class="fa fa-times"></i>
        </div>

        <div [ngSwitch]="role">
          <app-sidebar-organizer *ngSwitchCase="'ROLE_ORGANIZER'"></app-sidebar-organizer>
          <app-sidebar-admin *ngSwitchCase="'ROLE_ADMIN'"></app-sidebar-admin>
          <app-sidebar-provider *ngSwitchCase="'ROLE_PROVIDER'"></app-sidebar-provider>
          <app-sidebar-user *ngSwitchCase="'ROLE_USER'"></app-sidebar-user>
          <app-sidebar-user *ngSwitchDefault></app-sidebar-user>
        </div>
      </div>
