<div class="sidebar-backdrop" *ngIf="isOpen" (click)="closeSidebar()"></div>
<div class="sidebar" [class.active]="isOpen">

        <div class="sidebar__close" (click)="closeSidebar()">
          <i class="fa fa-times"></i>
        </div>
        <ul class="sidebar__menu">
          <li>
            <i class="fa fa-bell"></i> notifications
          </li>
          <li>
            <i class="fa fa-envelope"></i> messages
          </li>
        </ul>
        <div class="sidebar__favorites">
          <p routerLink="/home">favourite events</p>
          <p routerLink="/home">favourite products</p>
          <p routerLink="/home">favourite services</p>
        </div>
        <ul class="sidebar__menu">
          <li>
            <i class="fa fa-calendar-alt"></i> my calendar
          </li>
          <li routerLink="/my-services" (click)="closeSidebar()">
            <i class="fa fa-offers-alt"></i> my offers
          </li>          
        </ul>
</div>
