<div class="slider">
    <button class="slider-button prev" (click)="slideLeft()">
      <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#ffffff" style="transform: rotate(180deg);">
        <path d="m321-80-71-71 329-329-329-329 71-71 400 400L321-80Z"/>
      </svg>
    </button>
    <div class="slider-wrapper">
      <div class="slider-content">
        <app-top-offer-card *ngFor="let offer of offers" [offer]="offer"></app-top-offer-card>
      </div>
    </div>
    <button class="slider-button next" (click)="slideRight()">
      <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#ffffff">
        <path d="m321-80-71-71 329-329-329-329 71-71 400 400L321-80Z"/>
      </svg>
    </button>
  </div>
  