.event-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1200px;
    margin: 80px auto;
    padding: 20px;
    background: #f9f9f9;
    border-radius: 0px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  }
  
  .event-section-header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 40px;
    padding-bottom: 10px;
    border-bottom: 2px solid var(--blue);
  }
  
  .event-section-title {
    font-size: 36px;
    font-weight: 700;
    color: var(--blue);
    margin: 0;
    letter-spacing: 0.5px;
    text-align: center;
  }
  
  button {
    padding: 10px 30px;
    font-size: 16px;
    width: fit-content;
    color: #fff;
    background-color: #D3A3B0;
    border: none;
    border-radius: 40px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    outline: none;
    display: inline-block;
  }
  
  button:hover {
    background-color: #B28498;
    transform: translateY(-2px);
  }
  
  button:focus {
    box-shadow: 0 0 0 3px rgba(211, 163, 176, 0.5);
  }
  