<div class="login-container">
    <div class="login-card">
      <h2 class="login-title">LOGIN</h2>
      <form>
        <div class="input-group">
          <label>
            <i class="material-icons">email</i>
            <input type="email" placeholder="Email" required />
          </label>
        </div>
        <div class="input-group">
          <label>
            <i class="material-icons">lock</i>
            <input type="password" placeholder="Password" required />
          </label>
        </div>
        <button type="submit" class="login-button">LOG IN</button>
        <a href="#" class="forgot-password">Forgot password</a>
        <a href="#" class="registation">Registration</a>
      </form>
    </div>
  </div>
  