<div class="login-container">
    <div class="login-card">
      <h2 class="login-title">LOGIN</h2>
      <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
        <div class="input-group">
          <label>
            <i class="material-icons">email</i>
            <input type="email" placeholder="Email" formControlName="email" required />
          </label>
        </div>
        <div class="input-group">
          <label>
            <i class="material-icons">lock</i>
            <input type="password" placeholder="Password" formControlName="password" required/>
          </label>
        </div>
        <button type="submit" class="login-button">LOG IN</button>
        <a href="#" class="forgot-password">Forgot password</a>
        <a routerLink="/registration" class="registation">Registration</a>
        <a routerLink="/quick-registration" class="registation">Quick Registration</a>
        <a routerLink="/new-event" class="registation">Add event</a>
      </form>
    </div>
  </div>
  
  