<div class="messages-container">
  <div class="header">
    <button class="back-button" (click)="goBack()">&#8592;</button>
    <h2>CHATS</h2>
  </div>

  <div class="chat-list"  *ngIf="chatPartners && chatPartners.length > 0; else noChats" >
    <div
      class="chat-card"
      *ngFor="let partner of chatPartners"
      (click)="openChat(partner.id)"
    >
      <img [src]="partner.photoUrl" class="avatar" />
      <span class="name"><em>{{ partner.name }}</em></span>
    </div>
  </div>
  <ng-template #noChats>
        <div class="no-chats-message">
          <i class="fa fa-times" aria-hidden="true"></i>
          <p>No chats.</p>
        </div>
      </ng-template>
</div>
