<div class="dialog-container">
    <h2 mat-dialog-title>{{ data?.category ? 'Edit Category' : 'Create Category' }}</h2>
    <form [formGroup]="categoryForm" class="dialog-form">
      <mat-form-field appearance="fill">
        <mat-label>Category Name</mat-label>
        <input matInput formControlName="name" />
      </mat-form-field>
  
      <mat-form-field appearance="fill">
        <mat-label>Category Description</mat-label>
        <textarea matInput formControlName="description"></textarea>
      </mat-form-field>
  
      <div class="dialog-actions">
        <button mat-raised-button class="btn-save" (click)="onSubmit()">Save</button>
        <button mat-raised-button mat-dialog-close="" class="btn-cancel">Cancel</button>
      </div>
    </form>
  </div>
  