<div class="budget-section">
    <div class="budget-section-header">
        <h2 class="budget-section-title">Budget Planning {{ eventName }}</h2>
    </div>

    <div class="budget-container">
        <div class="user-section">
            <!-- User-selected budget items go here -->
            <div class="budget-header">
                <span>Category</span>
                <span>Max Amount</span>
                <span></span>
                <span>
                    <button class="new-item-button" (click)="openCreateItemPopup()">New Item</button>
                </span>
            </div>

            <div class="budget-row" *ngFor="let item of budget?.budgetItems">
                <span>{{ item.category }}</span>
                <span>{{ item.maxPrice }}</span>
                <span>
                    <button class="edit-button" (click)="onEdit(item)">
                        <i class="fa fa-pencil" aria-hidden="true"></i>
                    </button>
                </span>
                <span> 
                    <button class="delete-button" (click)="onDelete(item)"> 
                        <i class="fa fa-times" aria-hidden="true"></i>
                    </button>
                </span>
            </div>
        </div>
        <div class="recommended-section">
            <!-- Recommended categories go here -->
            <h5>Recommendation</h5>

            <div class="recommended-box" *ngIf="recommendedCategories?.length > 0; else noRecommendations">
                <div *ngFor="let cat of recommendedCategories" class="recommended-row">
                    <span>{{ cat }}</span>
                    <button class="choose-button" (click)="openPopup(cat)">Choose</button>
                </div>
            </div>

            <ng-template #noRecommendations>
                <div class="no-recommendations-message">
                    <i class="fa fa-times" aria-hidden="true"></i>
                    <p>No recommendations.</p>
                </div>
            </ng-template>
        </div>
    </div>

    <div class="budget-summary">
        <div class="total-amount" >Total Max Amount: {{budget?.total}}</div>
        <div class="leftover-amount">Leftover Amount: {{budget?.left}}</div>
        <button class="search-button" (click)="onSearch()">
            <i class="fa fa-search"></i> Search
        </button>
    </div>

    <div class="popup-backdrop" *ngIf="popupVisible">
        <div class="popup-modal">
            <h4>Add "{{ selectedCategory }}"</h4>
            <input type="number" [(ngModel)]="enteredMaxAmount" placeholder="Enter maximal amount" />
            <div class="popup-actions">
                <button (click)="confirmPopup()">Confirm</button>
                <button (click)="closePopup()">Cancel</button>
            </div>
        </div>
    </div>

    <div class="popup-backdrop" *ngIf="editPopupVisible">
        <div class="popup-modal">
            <h5>Edit maximal price for "{{ selectedCategory }}"</h5>
            <input type="number" [(ngModel)]="enteredMaxAmount" placeholder="Enter new maximal amount" />
            <div class="popup-actions">
                <button (click)="confirmEditPopup()">Confirm</button>
                <button (click)="closeEditPopup()">Cancel</button>
            </div>
        </div>
    </div>

    <div class="popup-backdrop" *ngIf="createPopupVisible">
        <div class="popup-modal">
            <h5>Add new budget item</h5>
            <select [(ngModel)]="selectedCategory">
                <option value="" disabled selected hidden>Select a category</option>
                <option *ngFor="let category of categories" [value]="category" aria-placeholder="Select a category">
                    {{ category }}
                </option>
            </select>
            <input type="number" [(ngModel)]="enteredMaxAmount" placeholder="Enter maximal amount" />
            <div class="popup-actions">
                <button (click)="confirmCreateItemPopup()">Confirm</button>
                <button (click)="closeCreateItemPopup()">Cancel</button>
            </div>
        </div>
    </div>

    <!--Products and services section-->
    <div class="products-services-section">
        <h2>PRODUCTS AND SERVICES</h2>
        <div class="products-services-grid">

        </div>
    </div>
</div>