<div class="notifications-container">
    <h2 class="notifications-title">Your Notifications</h2>
    <div *ngFor="let notification of notifications" class="notification-card" [ngClass]="notification.type.toLowerCase()">
      <div class="notification-content">
        <p class="notification-text">{{ notification.text }}</p>
      </div>
      <div class="notification-footer">
        <span class="notification-date">{{ notification.timestamp | date:'short' }}</span>
      </div>
    </div>
     <mat-paginator
    [pageSize]="pageProperties.pageSize"
    [pageSizeOptions]="pageProperties.pageSizeOptions"
    [length]="pageProperties.totalCount"
    (page)="pageChanged($event)">
    </mat-paginator>
  </div>
  